<h1>Hello world</h1>
<% @tasks.each do |task| %>
  <div class="form-check">
    <% if task.completed %>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    <%= task.title %>
  </div>
<% end %>

